@font-face {
  font-family: 'LogosFont';
  src: url('../LogosFont.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Shanghai';
  src: url('../osaka-re.ttf');
  font-weight: normal;
  font-style: normal;
}
body {
  h1, h2, h3 {
    font-family: helvetica;
  }
}
.icon {
  display: inline-block;
  font-family: LogosFont !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  padding:0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
}
.tail {
  perspective: 1000;
  &:hover {
    // z-index: 1000;
    .flipper {
      transform: rotateY(180deg);
      .front {
        background: white;
        opacity: 0.9;
      }
    }
  }
  .flipper {
    width:100%;
    height: 100%;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    outline: 4px solid white;
    .front, .back {
      backface-visibility: hidden;
      position: absolute;
      width:100%;
      height: 100%;
    }
    .back {
      background: white;
      opacity: 0.8;
      transform: rotateY(180deg);
    }
  }
}

.tail {
  position: relative;
  text-decoration: none;
  float: left;
  width: 20%;
  height: 200px;
  overflow: visible;
  outline: 4px solid white;

  &.col-2 {
    width: 40% !important;
  }

  &.col-3 {
    width: 60% !important;
  }
  &.col-4 {
    width: 80% !important;
  }

  &.black {
    color: white;
    background: black;
  }
  h1 {
    font-size: 40px;
    margin: 30px 30px;
  }
  h2{
    margin: 30px 30px;
    font-size: 30px;
  }
  h3 {
    margin: 30px 30px;
    font-size: 20px;
  }
  .footer {
    margin: 0;
    text-align: right;
    // position: absolute;
    font-size: 20px;
    // right: 0px;
    // bottom: 5px;
    // background: white;
    padding: 6px;
    padding-top:60px;
    color: black;
    font-weight: bold;
    text-shadow: 1px 2px 3px white;
  }
  // &:hover .footer {
  //   color: red;
  // }
  .center {
    text-align: center;
  }
  p {
    margin: 30px 30px;
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .tail {
    position: relative;
    text-decoration: none;
    float: left;
    width: 33%;
    height: 250px;
    overflow: hidden;

    &.col-2 {
      width: 66% !important;
    }

    &.col-3 , &.col-4 {
      width: 100% !important;
    }
  }
}
@media (max-width: 500px) {
  .tail {
    float: none;
  }
}

.prod {
  background: #556;
  color: white;
  text-shadow: -1px -1px 1px #333333;
  &:hover {
    color: white;
  }
}
.tech {
  background: #dde;
  text-align: center;
  text-shadow: 1px 1px 0px white;
  color: black;
}
.logo {
  background-color: black;
  color: white;
  text-align: center;
  .icon {
    font-size: 100px;
  }
}
.nicola {
  background: url('../person-img/face1.jpg') no-repeat;
}
.serzh {
  background: url('../person-img/face2.jpg');
}
.mike {
  background: url('..//person-img/face3.jpg');
}
.micke {
  background: url('../person-img/face4.jpg');
}
.max {
  background: url('../person-img/face5.jpg');
}
.sasha {
  background: url('../person-img/face6.jpg');
}
.pavlik {
  background: url('../person-img/face7.jpg') no-repeat;
}
.dima {
  background: url('../person-img/dima.jpg') no-repeat;
}
.danil {
  background: url('../person-img/danil.jpg') no-repeat;
}
.oleg {
  background: url('../person-img/oleg.jpg') no-repeat;
}
.alexandr {
  background: url('../person-img/alexandr.jpg') no-repeat;
}

