body {
  padding-top: 0px;
  padding: 2px;
  font-size: 16px;
}
.cnt {
  display: flex;
  flex-direction: row;

}
.tail {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  &:hover, &:active, &:visited, &:link {
    text-decoration: none;
    color: white;
  }
  &:hover {
    z-index: 100000;
    opacity: 1.0;
    border-radius: 10px;
  }

  margin: 1px;
  flex: 1 1 auto;
  flex-wrap: wrap;
  flex-basis: 20%;
  position: relative;
  z-index: 10;
  min-height: 180px;
}
.prod {
  background: #556;
  color: white;
  text-shadow: -1px -1px 1px #333;
  h1{
    font-size: 30px;
  }
}
.person {
  a {
    display: block;
    height: 100%;
    position: relative;
  }
  &:hover h1{
    color: red;
  }
  h1 {
    text-align: right;
    position: absolute;
    font-size: 20px;
    right: 0px;
    bottom: 5px;
    background: white;
    opacity: 0.9;
    padding: 6px;
    color: black;
  }
}
.tech {
  padding-top: 30px;
  background: #dde;
  text-align: center;
  text-shadow: 1px 1px 0px white;
  color: black;
  h1 {
    font-size: 20px;
  }
  h3 {
    text-align: center;
  }
  p, h3, h1 {
    color: black;
  }
}
.dbl {
  flex-basis: 40% !important;
  h3{
    font-size: 40px;
    font-weight: bold;
  }
}
.trbl {
  flex-basis: 60% !important;
  background: #000;
  color: white;
  h1 {
    font-size:50px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
    color: #aaa;
  }
}
.logo {
  background-color: black;
  background: url('../person-img/samurai_logo.png') contained no-repeat;
}
.nicola {
  background: url('../person-img/face1.jpg') no-repeat;
}
.serzh {
  background: url('../person-img/face2.jpg');
}
.mike {
  background: url('..//person-img/face3.jpg');
}
.micke {
  background: url('../person-img/face4.jpg');
}
.max {
  background: url('../person-img/face5.jpg');
}
.sasha {
  background: url('../person-img/face6.jpg');
}
.pavlik {
  background: url('../person-img/face7.jpg') no-repeat;
}
.dima {
  background: url('../person-img/dima.jpg') no-repeat;
}
.danil {
  background: url('../person-img/danil.jpg') no-repeat;
}
.oleg {
  background: url('../person-img/oleg.jpg') no-repeat;
}
.alexandr {
  background: url('../person-img/alexandr.jpg') no-repeat;
}
.hant {
  background: black;
}
.hant h1{
  font-size: 60px;
  color: white;
  text-align: center;
}
.tail.b-o-w {
  color: black;
  background: white;
}
.tail.col-2 {
  flex-basis: 40% !important;
}
.tail.col-3 {
  flex-basis: 60% !important;
}

.tail.col-4 {
  flex-basis: 80% !important;
}
