@font-face {
  font-family: 'LogosFont';
  src: url('../LogosFont.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Shanghai';
  src: url('../osaka-re.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  padding:0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  p {
    line-height: 24px;
  }
}

.icon {
  display: inline-block;
  font-family: LogosFont ;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tile {
  position: relative;
  text-decoration: none;
  float: left;
  width: 20%;
  height: 200px;
  overflow: visible;

  .wrapper {
    box-sizing: border-box;
    border: 4px solid #fff;
    width: 100%;
    height: 100%;
  }
  a, a:hover {
    text-decoration: none;
  }

  &.flipper {
    perspective: 1000;
    border-color: transparent;

    &:hover {
      .wrapper {
        transform: rotateY(180deg);

        .front {
          background: white;
          opacity: 0.9;
        }
      }
    }

    .wrapper {
      width:100%;
      height: 100%;
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;

      .front, .back {
        backface-visibility: hidden;
        position: absolute;
        width:100%;
        height: 100%;
      }

      .back {
        background: white;
        opacity: 0.8;
        transform: rotateY(180deg);
      }
    }
  }

  &.person {
    .badge {
      position: absolute;
      bottom: 10px;
      padding:5px;
      right: 0;
      font-weight: bold;
      font-size: 20px;
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  &.prod {
    .wrapper {
      background: #556;
    }

    color: white;
    text-shadow: -1px -1px 1px #333333;
    &:hover {
      color: white;
    }
    a {
      color: white;
      &:hover {
        color: lightyellow;
        .icon {
          color: gold;
        }
      }
    }
  }

  &.tech {
    .wrapper {
      background: #dde;
    }
    text-align: center;
    text-shadow: 1px 1px 0px white;
    color: black;
  }

  &.logo {
    .wrapper {
      background-color: black;
    }
    color: white;
    text-align: center;
    .icon {
      font-size: 100px;
    }
  }

  &.col-2 {
    width: 40% ;
  }

  &.col-3 {
    width: 60% ;
  }

  &.col-4 {
    width: 80% ;
  }

  &.black {
    color: white;
    background: black;
  }

  h1 {
    font-size: 40px;
    margin: 30px 30px 10px 30px;
  }

  h2{
    margin: 30px 30px 10px 30px;
    font-size: 30px;
  }

  h3 {
    margin: 30px 30px 10px 30px;
    font-size: 20px;
  }

  .center {
    text-align: center;
  }

  p {
    margin: 10px 30px 10px 30px;
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .tile {
    position: relative;
    text-decoration: none;
    float: left;
    width: 33%;
    height: 250px;
    overflow: hidden;

    &.col-2 {
      width: 66% ;
    }

    &.col-3 , &.col-4 {
      width: 100% ;
    }
  }
}

@media (max-width: 500px) {
  .tile {
    float: none;
  }
}

.nicola {
  background: url('../person-img/face1.jpg') no-repeat;
}
.serzh {
  background: url('../person-img/face2.jpg');
}
.mike {
  background: url('..//person-img/face3.jpg');
}
.micke {
  background: url('../person-img/face4.jpg');
}
.max {
  background: url('../person-img/face5.jpg');
}
.sasha {
  background: url('../person-img/face6.jpg');
}
.pavlik {
  background: url('../person-img/face7.jpg') no-repeat;
}
.dima {
  background: url('../person-img/dima.jpg') no-repeat;
}
.danil {
  background: url('../person-img/danil.jpg') no-repeat;
}
.oleg {
  background: url('../person-img/oleg.jpg') no-repeat;
}
.alexandr {
  background: url('../person-img/alexandr.jpg') no-repeat;
}

